<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" style="height: 100%">
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">
</head>
<body>
<!--Шапка-->
<div class="container-fluid">
    <div class="p-3 mb-2 bg-dark text-white">
        <div class="row">
            <h5 th:object="${admin}">
                <div class="row">
                    <div class="col-md-11">
                        <td th:text="${admin.getEmail()}"/>
                        </td>
                        <small><em> with roles: </em></small>
                        <td th:text="${admin.getRoles()}"/>
                        </td>
                    </div>
                    <div class="col-md-1 ml-auto">
                        <a class="btn btn-dark text-white-50" href="/logout" role="button">Logout</a>
                    </div>
                </div>
            </h5>
        </div>
    </div>
</div>
<!--контейнер под шапкой-->
<div class="container-fluid">
    <div class="row">
        <!--контейнер для боковой панели Юзер Админ-->
        <div class="col-2">
            <ul class="nav flex-column nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="#" id="admin-nav-link" data-bs-toggle="tab"
                       data-bs-target="#admin-panel" type="button" role="tab" aria-controls="admin-panel"
                       aria-selected="true">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="user-nav-link" data-bs-toggle="tab" data-bs-target="#user-panel"
                       type="button" role="tab" aria-controls="user-panel" aria-selected="false">User</a>
                </li>
            </ul>
        </div>
        <!--контейнер админ панели-->
        <div class="col-10 bg-light vh-100">

            <div class="tab-pane fade show active" id="admin-panel" role="tabpanel"
                 aria-labelledby="admin-nav-link"
                 tabindex="0">
                <div class="col-12">
                    <h1> Admin panel</h1>
                    <div class="container-fluid">
                        <!--Вкладки админ, Новый пользователь-->
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" href="#" id="home-tab" data-bs-toggle="tab"
                                        data-bs-target="#home" type="button" role="tab" aria-controls="home"
                                        aria-selected="true">Users table
                                </button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link"
                                        href="#"
                                        id="new-users-tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#new-users-pane"
                                        type="button"
                                        role="tab"
                                        aria-controls="new-users-pane"
                                        aria-selected="false">
                                    New User
                                </button>
                            </li>

                        </ul>

                        <div class="tab-content" id="myTabContent">
                            <!--таблица-->
                            <div class="tab-pane fade show active" id="home" role="tabpanel"
                                 aria-labelledby="home-tab">
                                <h5>All users</h5>
                                <div class="row">

                                    <div class="card rounded-0">

                                        <table class="table table-striped">
                                            <thead></thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">First Name</th>
                                                <th scope="col">Last name</th>
                                                <th scope="col">Age</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Role</th>
                                                <th scope="col">Edit</th>
                                                <th scope="col">Delete</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            <tr th:each="user: ${users}">
                                                <td th:text="${user.getId()}"></td>
                                                <td th:text="${user.getName()}"></td>
                                                <td th:text="${user.getLastName()}"></td>
                                                <td th:text="${user.getAge()}"></td>
                                                <td th:text="${user.getEmail()}"></td>
                                                <td th:text="${user.getRoles()}"></td>
                                                <td>
                                                    <button type="button" class="btn btn-primary"
                                                            data-bs-toggle="modal"
                                                            th:data-bs-target="${'#editUser'+ user.id}"
                                                    >Edit
                                                    </button>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                                            data-bs-target="#modalDelete"
                                                            th:data-bs-target="${'#modalDelete'+user.id}">Delete
                                                    </button>
                                                </td>

                                                <!-- editUser -->
                                                <div class="modal fade" th:id="${'editUser'+user.id}"
                                                     tabindex="-1"
                                                     aria-labelledby="editUserLabel"
                                                     aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="editUserLabel">Edit
                                                                    user</h5>
                                                                <button type="button" class="btn-close"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close">
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">


                                                                <form th:method="PATCH" th:action="@{/admin/update/{id}(id=${user.id})}"
                                                                      th:object="${user}">
                                                                    <label for="id">ID</label>
                                                                    <input readonly type="number"
                                                                           th:field="*{id}"
                                                                           id="id"
                                                                           placeholder="ID">
                                                                    <br/>
                                                                    <br/>
                                                                    <label for="username">Name</label>
                                                                    <input type="text" th:field="*{username}"
                                                                           id="username"
                                                                           placeholder="Name">
                                                                    <br/>
                                                                    <br/>
                                                                    <label for="lastName">Last Name</label>
                                                                    <input type="text" th:field="*{lastName}"
                                                                           id="lastName"
                                                                           placeholder="Last Name">
                                                                    <br/>
                                                                    <br/>
                                                                    <label for="age">Age</label>
                                                                    <input type="number" th:field="*{age}"
                                                                           id="age"
                                                                           placeholder="Age">
                                                                    <br/>
                                                                    <br/>
                                                                    <label for="email">Email</label>
                                                                    <input type="text" th:field="*{email}"
                                                                           id="email"
                                                                           placeholder="Email">
                                                                    <br/>
                                                                    <br/>
                                                                    <label for="password">Password</label>
                                                                    <input readonly type="text"
                                                                           th:field="*{password}"
                                                                           id="password" placeholder="Password">
                                                                    <br/>
                                                                    <br/>
                                                                    <div class="form-group row">
                                                                        <label class="col-4 col-form-label">Roles: </label>
                                                                        <div class="col-8">
                                                                            <th:block
                                                                                    th:each="role: ${listRoles}">
                                                                                <input type="checkbox"
                                                                                       th:field="*{roles}"
                                                                                       th:text="${role.getNameRole()}"
                                                                                       th:value="${role.getId()}"
                                                                                       class="m-2"/>
                                                                            </th:block>
                                                                        </div>
                                                                    </div>
                                                                    <br/>
                                                                    <input type="submit"
                                                                           value="Изменить данные">
                                                                </form>


                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-bs-dismiss="modal">
                                                                    Close
                                                                </button>
                                                                <button type="button" class="btn btn-primary">
                                                                    Edit
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>


                            <!--новый пользователь-->
                            <div class="tab-pane fade" id="new-users-pane" role="tabpanel"
                                 aria-labelledby="new-users-tab" tabindex="0">
                                <h5>Add new user</h5>
                                <div class="container d-flex flex-column justify-content-center align-items-center w-100">

                                    <div class="row col-sm-3 text-center">


                                        <form th:method="POST" th:action="@{/admin/create}" th:object="${user}">

                                            <div class="mb">
                                                <label for="name" class="col-form-label">First name</label>
                                                <input type="text" name="username"
                                                       class="form-control" id="name"
                                                       placeholder="First name"
                                                       required minlength="2" maxlength="20"/>
                                            </div>
                                            <div class="mb-3">
                                                <label for="lastName" class="col-form-label">Last name</label>
                                                <input type="text" name="lastName"
                                                       class="form-control" id="lastName"
                                                       placeholder="Last name"
                                                       required minlength="2" maxlength="20"/>
                                            </div>
                                            <div class="mb-3">
                                                <label for="age" class="col-form-label">Age</label>
                                                <input type="number" name="age"
                                                       class="form-control" id="age"
                                                       placeholder="Age"
                                                       required minlength="2" maxlength="20"/>
                                            </div>
                                            <div class="mb-3">
                                                <label for="email" class="col-form-label">Email</label>
                                                <input type="text" name="email"
                                                       class="form-control" id="email"
                                                       placeholder="Email"
                                                       required minlength="2" maxlength="20"/>
                                            </div>
                                            <div class="mb-3">
                                                <label for="password" class="col-form-label">Password</label>
                                                <input type="text" name="password"
                                                       class="form-control" id="password"
                                                       placeholder="Password"
                                                       required minlength="2" maxlength="20"/>
                                            </div>


                                            <label class="container-fluid" for="newUserRoles">
                                                <strong>Role</strong>
                                                <select id="newUserRoles" class="form-select" name="roles"
                                                        multiple size="2">
                                                    <option th:each="role: ${rolesAdd}" th:value="${role.getId()}">
                                                        <th:block th:text="${role.getNameRole()}">
                                                        </th:block>
                                                    </option>
                                                </select>
                                            </label>

                                            <!--            <th:block th:each="role: ${listRoles}">-->
                                            <!--                <input type="checkbox" th:field="*{roles}"-->
                                            <!--                       th:text="${role.getNameRole()}" th:value="${role.getId()}" class="m-2" />-->


                                            <div class="d-grid col-6 mx-auto">
                                                <input type="submit" class="btn btn-success" value="Add new user"/>
                                            </div>

                                        </form>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--    <div>-->
<!--        <p><a href="admin/create"><input type="submit" value="Создать пользователя"></a></p>-->
<!--        <p><a href="/logout"><input type="submit" value="logout"></a></p>-->
<!--    </div>-->


</div>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
        integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
        crossorigin="anonymous"></script>

</body>
</html>
</html>