<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
        <h2>Пользователь</h2>
        <table>
            <thead>
            <tr>
                <td>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Last name</th>
                <th scope="col">Age</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr th:object="${user}">
                <td>
                <td th:text="${user.getId()}"/></td>
                <td th:text="${user.getUsername()}"/></td>
                <td th:text="${user.getLastName()}"/></td>
                <td th:text="${user.getAge()}"/></td>
                <td th:text="${user.getEmail()}"/></td>
                <td th:text="${user.getPassword()}"/></td>
                <td th:text="${user.getRoles()}"/></td>

                </td>
            </tr>
            </tbody>
        </table>
        </div>
        <p><a href="/logout"><input type="submit" value="Выйти из аккаунта"></a></p>
        </div>

</body>
</html>